PROM_PORT=4885
REST_PORT=4884
PYTH_PRICESERVICE_MAINNET=https://xc-mainnet.pyth.network
PYTH_PRICESERVICE_TESTNET=https://xc-testnet.pyth.network
PYTH_PRICESERVICE_DEVNET=https://xc-testnet.pyth.network
PYTH_PRICESERVICE_POLL_INTERVAL_MS=1000
PYTH_PRICESERVICE_REQUEST_BLOCKSIZE=10
LOG_APPNAME=pricecaster-v2
LOG_DISABLE_CONSOLE_LOG=false
LOG_FILELOG_DIR=./log
LOG_FILELOG_DAYSTOKEEP=7
LOG_DEBUGLEVEL=1
ALGO_TOKEN=aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
ALGO_API=http://127.0.0.1
ALGO_PORT=4001
ALGO_GET_NETWORK_TX_PARAMS_CYCLE_INTERVAL=10
APPS_PRICECASTER_APPID=71
APPS_OWNER_KEY_MNEMO="provide warfare better filter glory civil help jacket alpha penalty van fiber code upgrade web more curve sauce merit bike satoshi blame orphan absorb modify"
DEBUG_SKIP_PUBLISH=false
STORAGE_DB=./db/pricecaster.db.tilt
NETWORK=testnet
